.article{

  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 15rem;
  min-height: 20rem;
  margin: var(--spacing-4);
  padding: var(--spacing-2);

  text-decoration: none;

  background: var(--gray-2);

  border: 1px solid var(--gray-8);

  &:hover{
    box-shadow: var(--elevation-2);
    filter: brightness(125%);
  }

  .title{
    font-weight: bold;
    font-size: var(--font-size-3);
    font-family: var(--secondary-font);
    text-align: center;
  }

  .bottom{
    display: flex;
    justify-content: space-around;
    padding-top: var(--spacing-2);

    font-size: var(--font-size-1);

    font-family: var(--secondary-font);
    letter-spacing: 3px;

    white-space: nowrap;
    text-transform: uppercase;

    text-decoration: none;

    border-top: 1px solid var(--gray-8);
  }
}
