//common CSS variables
:root{
  --gray-0: #000000;
  --gray-1: #111111;
  --gray-2: #222222;
  --gray-3: #333333;
  --gray-4: #444444;
  --gray-5: #555555;
  --gray-6: #666666;
  --gray-7: #777777;
  --gray-8: #888888;
  --gray-9: #999999;
  --gray-10: #aaaaaa;
  --gray-11: #bbbbbb;
  --gray-12: #cccccc;
  --gray-13: #dddddd;
  --gray-14: #eeeeee;
  --gray-15: #ffffff;
  --gray-0-tri: 0, 0, 0;
  --gray-1-tri: 17, 17, 17;
  --gray-2-tri: 34, 34, 34;
  --gray-3-tri: 51, 51, 51;
  --gray-4-tri: 68, 68, 68;
  --gray-5-tri: 85, 85, 85;
  --gray-6-tri: 102, 102, 102;
  --gray-7-tri: 119, 119, 119;
  --gray-8-tri: 136, 136, 136;
  --gray-9-tri: 153, 153, 153;
  --gray-10-tri: 170, 170, 170;
  --gray-11-tri: 187, 187, 187;
  --gray-12-tri: 204, 204, 204;
  --gray-13-tri: 221, 221, 221;
  --gray-14-tri: 238, 238, 238;
  --gray-15-tri: 255, 255, 255;

  --pcolor-0: #000000;
  --pcolor-1: #031b1e;
  --pcolor-2: #06363d;
  --pcolor-3: #0a515b;
  --pcolor-4: #0d6c7a;
  --pcolor-5: #108898;
  --pcolor-6: #14a3b7;
  --pcolor-7: #17bed6;
  --pcolor-8: #28cfe7;
  --pcolor-9: #47d6ea;
  --pcolor-10: #65dded;
  --pcolor-11: #84e3f1;
  --pcolor-12: #a3eaf4;
  --pcolor-13: #c1f1f8;
  --pcolor-14: #e0f8fb;
  --pcolor-15: #fefefe;
  --pcolor-0-tri: 0, 0, 0;
  --pcolor-1-tri: 3, 27, 30;
  --pcolor-2-tri: 6, 54, 61;
  --pcolor-3-tri: 10, 81, 91;
  --pcolor-4-tri: 13, 108, 122;
  --pcolor-5-tri: 16, 136, 152;
  --pcolor-6-tri: 20, 163, 183;
  --pcolor-7-tri: 23, 190, 214;
  --pcolor-8-tri: 40, 207, 231;
  --pcolor-9-tri: 71, 214, 234;
  --pcolor-10-tri: 101, 221, 237;
  --pcolor-11-tri: 132, 227, 241;
  --pcolor-12-tri: 163, 234, 244;
  --pcolor-13-tri: 193, 241, 248;
  --pcolor-14-tri: 224, 248, 251;
  --pcolor-15-tri: 254, 254, 254;

  --danger-0: #000000;
  --danger-1: #210000;
  --danger-2: #430000;
  --danger-3: #650000;
  --danger-4: #870000;
  --danger-5: #a90000;
  --danger-6: #cb0000;
  --danger-7: #ed0000;
  --danger-8: #ff1010;
  --danger-9: #ff3232;
  --danger-10: #ff5454;
  --danger-11: #ff7676;
  --danger-12: #fe9898;
  --danger-13: #ffbaba;
  --danger-14: #ffdcdc;
  --danger-15: #fffefe;
  --danger-0-tri: 0, 0, 0;
  --danger-1-tri: 33, 0, 0;
  --danger-2-tri: 67, 0, 0;
  --danger-3-tri: 101, 0, 0;
  --danger-4-tri: 135, 0, 0;
  --danger-5-tri: 169, 0, 0;
  --danger-6-tri: 203, 0, 0;
  --danger-7-tri: 237, 0, 0;
  --danger-8-tri: 255, 16, 16;
  --danger-9-tri: 255, 50, 50;
  --danger-10-tri: 255, 84, 84;
  --danger-11-tri: 255, 118, 118;
  --danger-12-tri: 255, 152, 152;
  --danger-13-tri: 255, 186, 186;
  --danger-14-tri: 255, 220, 220;
  --danger-15-tri: 255, 254, 254;


  --alpha-0: 0;
  --alpha-1: 0.05;
  --alpha-2: 0.07;
  --alpha-3: 0.08;
  --alpha-4: 0.09;
  --alpha-5: 0.11;
  --alpha-6: 0.12;
  --alpha-7: 0.14;
  --alpha-8: 0.15;
  --alpha-9: 0.16;

  --spacing-1: 0.146rem;
  --spacing-2: 0.236rem;
  --spacing-3: 0.382rem;
  --spacing-4: 0.618rem;
  --spacing-5: 1rem;
  --spacing-6: 1.618rem;
  --spacing-7: 2.618rem;
  --spacing-8: 4.235rem;
  --spacing-9: 6.854rem;

  --font-size-0: 0.625rem;
  --font-size-1: 0.8125rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.625rem;
  --font-size-5: 2.0625rem;
  --font-size-6: 2.625rem;
  --font-size-7: 4.226rem;
  --font-size-8: 6.804rem;
  --font-size-9: 10.95rem;

  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-1-hover: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  --animation-time-0: 0.1s;
  --animation-time-1: 0.2s;
  --animation-time-2: 0.3s;
  --animation-time-3: 0.4s;
  --animation-time-4: 0.5s;

  --secondary-font: barlow condensed, sans-serif;
}
